.rl-modal {
  position: fixed;
  background: #fff;
  z-index: 100000;
  width: 400px;
  padding-bottom: 30px;
  left: 50%;
  top: 50%;
  margin: -210px 0 0 -200px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.rl-modal.in {
  opacity: 1;
  filter: alpha(opacity=100);
}
.rl-modal-header {
  position: relative;
  padding: 0 20px;
}
.rl-modal-header h1 {
  font-size: 16px;
  line-height: 49px;
  height: 49px;
  color: #666;
  border-bottom: 1px solid #d0d6d9;
}
.rl-modal-header h1 span {
  float: left;
  width: 80px;
  text-align: center;
  height: 49px;
  line-height: 49px;
  cursor: pointer;
}
.rl-modal-header .active-title,
.rl-modal-header span:hover {
  border-bottom: 1px solid #cc0000;
  color: #cc0000;
}
.rl-close {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 17px;
  height: 17px;
  cursor: pointer;
  background: url(/static/img/nlogin.png) no-repeat 0 0;
  transition: transform 0.2s;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -o-transition: transform 0.2s;
}
.rl-close:hover {
  background-position: 0 -21px;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}
.rl-modal-body {
  padding: 30px 45px 0;
}
.modal-backdrop {
  background-color: #ffffff;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.75;
  filter: alpha(opacity=75);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -moz-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
.rl-model-footer {
  padding: 30px 45px 0;
}
.rlf-appendix {
  line-height: 1em;
}
.rlf-appendix .rlf-forget {
  color: #0088cc;
}
.rlf-appendix .rlf-forget:hover {
  color: #cc0000;
  text-decoration: underline;
}
.rl-modal .ipt {
  width: 251px;
  padding: 9px 9px 9px 48px;
  background-color: #fff;
  background-image: url(/static/img/common/ipt-sprite.png);
  background-repeat: no-repeat;
}
.ipt-email {
  background-position: 0 0;
}
.ipt-pwd {
  background-position: 0 -48px;
}
.ipt-nick {
  background-position: 0 -96px;
}
.rlf-verify-group .rlf-input {
  background: #fff;
  padding-left: 7px;
  width: 120px;
  vertical-align: top;
}
.rlf-verify-group img {
  height: 38px;
  width: 70px;
  margin: 0 10px;
  vertical-align: top;
  display: inline-block;
}
.rlf-verify-group span {
  display: inline-block;
  color: #39b94e;
  cursor: pointer;
  height: 40px;
  vertical-align: top;
  line-height: 150%;
  margin-top: -4px;
}
.rlf-tip-wrap {
  font-size: 12px;
  height: 26px;
}
.rlf-g-tip {
  height: 20px;
}
.rlf-tip-error {
  color: #cc0000;
}
.btn-full {
  width: 310px;
}
.btn-block {
  display: block;
  width: auto;
}
.forgetpwd-resultwrap {
  text-align: center;
  display: none;
  width: 260px;
}
.pop-login-sns {
  text-align: center;
  font-size: 14px;
}
.pop-login-sns span {
  color: #787d82;
}
.pop-login-sns a {
  font-size: 14px;
  margin-left: 20px;
  height: 20px;
  line-height: 20px;
  color: #c8cdd2;
  transition: color .2s;
}
.pop-login-sns i {
  font-size: 18px;
  vertical-align: -3px;
  margin-right: 5px;
  transition: color .2s;
}
.pop-login-sns a:hover {
  color: #787d82;
}
.pop-login-sns .pop-sns-weixin:hover i {
  color: #2fc15f;
}
.pop-login-sns .pop-sns-qq:hover i {
  color: #2d9dd5;
}
.pop-login-sns .pop-sns-weibo:hover i {
  color: #d52d2d;
}
.rl-modal .ipt-verify {
  margin-right: 10px;
  width: 159px;
  padding-left: 9px;
  background-image: none;
}
.verify-img-wrap {
  float: left;
  height: 40px;
  width: 70px;
}
.rlf-tip-wrap {
  clear: both;
}
.rl-modal .verify-img {
  width: 70px;
  height: 40px;
  vertical-align: top;
}
.rl-modal .verify-extra {
  line-height: 20px;
}
.rl-modal .verify-extra a {
  color: #00b33b;
}
